.receita__botao /*seletor de classe*/{
    background: #8d0606 ; /*cor de fundo*/
    border: none; /*retira a borda*/

    border-radius: 5px; /*cantos dos botões arredondados*/
    color:#fdfdfd ;
    padding: 1rem;
    transition: all 1.ms ease-in-out;/*transiçaõ da animação,ao passar o cursor a animação começa de vagar e termina devagar, a transição fica mais suave*/
    
}

.receita__botao:hover {/*seletor indica a passagem do mouse sobre o botão e troca pelo ícone da mão, dando a entender que ele é clicável,quando passa o cursor fica mais escuro o fundo*/
    background: #620404 ;
    cursor: pointer;


}