.receitas {
    background: #e5e5e5;/*fundo acinzentado*/
    display: flex; /*elementos alinhados um do lado do outro */
    flex-wrap: wrap;/*quebra automaticamente os elementos em linhas conforme a tela é diminuida*/
    padding: 5rem 0 0 5rem;
}